<style>
.me-2 {
  margin-right: 0.5rem !important;
}
</style>
<footer class="bg-dark text-inverse">
    <div class="container py-13 py-md-15">
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <a href="<%=site_url%>">
              <img class="mb-4" width="120" src="<%=site_url%>/assets/logo-light.png" alt="PlayStory Logo" />
            </a>
            <p class="mb-4">An interactive video creation tool that helps you create videos that generate more engagement.</p>
            <h4 class="widget-title text-white mb-3">Follow us on</h4>
            <!-- <nav class="nav social social-white"> -->
              <ul class="list-unstyled m-0 p-0">
                <li class="m-0 p-0"><a class="m-0 p-0" href="https://twitter.com/getplaystory"><i class="uil uil-twitter m-0 p-0 me-2"></i>Twitter</a></li>
                <li class="m-0 p-0"><a class="m-0 p-0" href="https://facebook.com/getplaystory"><i class="uil uil-facebook-f m-0 p-0 me-2"></i>Facebook</a></li>
                <li class="m-0 p-0"><a class="m-0 p-0" href="https://www.linkedin.com/showcase/getplaystory"><i class="uil uil-linkedin m-0 p-0 me-2"></i>LinkedIn</a></li>
                <li class="m-0 p-0"><a class="m-0 p-0" href="https://instagram.com/getplaystory/"><i class="uil uil-instagram m-0 p-0 me-2"></i>Instagram</a></li>
              </ul>              
            <!-- </nav> -->
          </div>
        </div>

        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Company</h4>
            <ul class="list-unstyled  mb-0">
              <li><a href="<%=site_url%>/about-us">About Us</a></li>
              <li><a href="<%=site_url%>/contact-us">Contact Us</a></li>
              <li><a href="<%=site_url%>/how-it-works">How it works</a></li>
              <li><a href="<%=site_url%>/pricing">Pricing</a></li>
              <li><a href="<%=site_url%>/blog">Blog</a></li>
              <!-- <li><a href="#">Integrations</a></li> -->
              <li><a href="https://help.playstory.io">Help Center</a></li>
              <li><a href="https://feedback.playstory.io">Roadmap</a></li>
              <li><a href="https://status.playstory.io">Status</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Use Cases</h4>
            <ul class="list-unstyled  mb-0">
              <li><a href="<%=site_url%>/use-case/saas-product-explainer">SaaS Product Explainer</a></li>
              <li><a href="<%=site_url%>/use-case/landing-pages">Landing Pages</a></li>
              <li><a href="<%=site_url%>/use-case/customer-education">Customer Education</a></li>
              <li><a href="<%=site_url%>/use-case/onboarding">Onboarding</a></li>
              <li><a href="<%=site_url%>/use-case/blog-pages">Blog Pages</a></li>
              <li><a href="<%=site_url%>/use-case/ecommerce">Ecommerce</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Legal</h4>
            <ul class="list-unstyled  mb-0">
              <li><a href="<%=site_url%>/gdpr-compliance">GDPR</a></li>
              <li><a href="<%=site_url%>/terms-of-use">Terms of Service</a></li>
              <li><a href="<%=site_url%>/privacy-policy">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div style="height: 1px; border-bottom: 1px solid rgb(81, 81, 81);"></div>
  <footer class="bg-dark text-inverse">
    <div class="container text-center py-5">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="text-sm-start">
                    <p class="mb-0">© 2018-2022 PlayStory. All rights reserved.  A <a class="text-primary" href='https://futureblink.com'>FutureBlink</a> Product.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="progress-wrap">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
  </svg>
</div>

<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "WebApplication",
      "@id": "https://playstory.io",
      "applicationCategory": "BusinessApplication",
      "name": "PlayStory",
      "operatingSystem": "all",
      "browserRequirements": "Requires Javascript and HTML5 support",
      "url": "https://playstory.io",
      "screenshot": "https://playstory.io/img/home/hero-section.png",
      "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "4.5",
      "reviewCount": "23"
  },
      "offers": {
      "@type": "AggregateOffer",
      "offeredBy": {
          "@type": "Organization",
          "name": "PlayStory"
      },
      "highPrice": "588",
      "lowPrice": "59",
      "priceCurrency": "USD",
      "priceSpecification": [{
          "@type": "UnitPriceSpecification",
          "price": "59",
          "priceCurrency": "USD",
          "name": "Per User Per Month"
      },
      {
          "@type": "UnitPriceSpecification",
          "price": "588",
          "priceCurrency": "USD",
          "name": "Per User Per Year"
      }
      ]
      },
      "creator": {
      "@id": "https://playstory.io",
      "url": "https://playstory.io",
      "name": "PlayStory",
      "@type": "Organization",
      "logo": {
          "@type": "ImageObject",
          "url": "https://playstory.io/assets/logo-dark.png"
          }
      }
  }
</script>