<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include('includes/styles.ejs') %> 
</head>
<body>

  <div class="content-wrapper">
    <%- include ('includes/navbar.ejs') %>
    <section class="my-5 py-5">
        <div class="container">
            <div class="row my-5">
                <div class="col-md-12">
                  <div class="text-center">
                    <img class="img-fluid" width="150" height="150" src="/img/icons/convert.png" alt="Convert Icon">
                  </div>
                </div> 
            </div>

            <div class="row">
              <div class="col-md-5 mx-auto">
                <div class="text-center">
                  <h1>Video Converter Tool</h1>
                  <h2 class="lead">Convert your videos to multiple formats (MP4, AVI, MKV, WMV, and more) online, free</h2>
                </div>
              </div>
            </div>

            <div class="row my-3" id="stepOne">
              <div class="col-md-7 col-lg-5 mx-auto">

                <div class="my-7">
                  <!-- <div class="form-select-wrapper mb-5 me-3 d-flex align-items-center w-100">
                    <label class="mb-1 me-3" for="convertFrom">From:</label>
                    <select class="form-select" id="convertFrom" name="from">
                      <option>MP4</option>
                      <option>AVI</option>
                      <option>FLV</option>
                      <option>GIF</option>
                      <option>MOV</option>
                      <option>MPEG</option>
                      <option>SWF</option>
                      <option>VOB</option>
                      <option>WEBM</option>
                      <option>FLAC</option>
                      <option>MP2</option>
                      <option>MP3</option>
                      <option>OGG</option>
                      <option>OPUS</option>
                      <option>WAV</option>
                    </select>
                  </div> -->
                  <!-- <form id="submitVideoForm" enctype="multipart/form-data"> -->
                    <div class="form-select-wrapper mb-5 w-100">
                      <label class="mb-1 me-3" for="convertTo">Convert To:</label>
                      <select class="form-select" id="convertTo" name="from">
                        <option>AVI</option>
                        <option>MP4</option>
                        <option>FLV</option>
                        <option>GIF</option>
                        <option>MOV</option>
                        <option>MPEG</option>
                        <option>SWF</option>
                        <option>VOB</option>
                        <option>WEBM</option>
                        <option>FLAC</option>
                        <option>MP2</option>
                        <option>MP3</option>
                        <option>OGG</option>
                        <option>OPUS</option>
                        <option>WAV</option>
                      </select>
                    </div>
                    <div class="">
                      <input class="form-control me-3 mb-5" type="file" id="chooseFile" name="file" required/>
                      <p class="text-red text-center d-none" id="formatErrMsg">File Format is Not Supported</p>
                      <button class="btn btn-blue w-100" id="uploadFileBtn" type="submit">Upload & Convert</button>
                    </div>
                  <!-- </form> -->
                </div>

              </div>
            </div>

            <div class="row my-3 d-none" id="successMsg">
              <div class="col-md-7 col-lg-5 mx-auto">
                <div class="mb-4 text-center">
                  <h3>Video Converted Successfully.</h3>
                  <p class="text-muted">Click on the below button to download your converted video</p>
                  <!-- <a href="" class="btn btn-dark w-100 d-none" id="downloadConvertedFileBtn" download>Download</a> -->
                  <form action="/downloadDeleteConvertedFile" method="post">
                    <input type="hidden" name="filename" id="filename" value="">
                    <button class="btn btn-dark w-100" id="downloadBtn" type="submit">Download</button>
                  </form>
                </div>
              </div>
            </div>

            <div class="row my-5 py-5 d-none">
                <div class="col-md-6 mx-auto">
                    <h1 class="text-center mb-5 fw-bold">Video Converter Tool</h1>
                    <!-- <form action="/transcode" method="post" enctype="multipart/form-data"> -->
                    <!-- <form> -->
                      <div class="form-group mb-3">
                        <input class="form-control" type="file" id="chooseFile" name="file" required/>
                      </div>
                      <div class="form-group mb-5">
                        <label class="mb-1" for="to">To:</label>
                        <select class="form-control" id="convertTo" name="to">
                          <option>mp4</option>
                          <option>avi</option>
                          <option>flv</option>
                          <option>gif</option>
                          <!-- <option>mkv</option> -->
                          <option>mov</option>
                          <option>mpeg</option>
                          <option>swf</option>
                          <!-- <option>ts</option> -->
                          <option>vob</option>
                          <option>webm</option>
                          <!-- <option>wmv</option> -->
                          <!-- <option>aac</option> -->
                          <option>flac</option>
                          <!-- <option>m4a</option> -->
                          <option>mp2</option>
                          <option>mp3</option>
                          <option>ogg</option>
                          <option>opus</option>
                          <option>wav</option>
                          <!-- <option>wma</option> -->
                        </select>
                      </div>
                      <br />
                      <div class="form-group text-center">
                        <button class="btn btn-dark rounded bg-gradient">Convert</button>
                      </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>

         <!-- <li class=""><a class="dropdown-item" href="">MP4</a></li>
                          <li class=""><a class="dropdown-item" href="">AVI</a></li>
                          <li class=""><a class="dropdown-item" href="">FLV</a></li>
                          <li class=""><a class="dropdown-item" href="">GIF</a></li>
                          <li class=""><a class="dropdown-item" href="">MOV</a></li>
                          <li class=""><a class="dropdown-item" href="">MPEG</a></li>
                          <li class=""><a class="dropdown-item" href="">SWF</a></li>
                          <li class=""><a class="dropdown-item" href="">VOB</a></li>
                          <li class=""><a class="dropdown-item" href="">WEBM</a></li>
                          <li class=""><a class="dropdown-item" href="">FLAC</a></li>
                          <li class=""><a class="dropdown-item" href="">MP2</a></li>
                          <li class=""><a class="dropdown-item" href="">MP3</a></li>
                          <li class=""><a class="dropdown-item" href="">OGG</a></li>
                          <li class=""><a class="dropdown-item" href="">OPUS</a></li>
                          <li class=""><a class="dropdown-item" href="">WAV</a></li> -->
    </section>
  </div>
  <%- include ('includes/footer.ejs') %>
  <%- include ('includes/scripts.ejs') %>

  <script>
    const formats = ["AVI", "MP4", "FLV", "GIF", "MOV", "MPEG", "SWF", "VOB", "WEBM", "FLAC", "MP2", "MP3", "OGG", "OPUS", "WAV"]
    let file = {}
    document.getElementById('chooseFile').addEventListener('change', (e) => {
      file = e.target.files[0];
      console.log(file);
      if (formats.includes(file.name.split('.').pop().toUpperCase())) {
        document.getElementById('formatErrMsg').classList.add('d-none');
        console.log('File format is supported');
      } else {
        document.getElementById('chooseFile').value = '';
        document.getElementById('formatErrMsg').classList.remove('d-none');
      }
    });    

    // document.getElementById('submitVideoForm').addEventListener('submit', (e) => {
    document.getElementById('uploadFileBtn').addEventListener('click', (e) => {
      e.preventDefault();
      let outputFilename = `${file.name.split(" ").join("-").split(".")[0].toLowerCase()}.${document.getElementById('convertTo').value.toLowerCase()}`;
      let formData = new FormData();
      formData.append('file', file);
      formData.append('to', document.getElementById('convertTo').value.toLowerCase());
      document.getElementById('uploadFileBtn').innerHTML = `<div class="spinner-border spinner-border-sm text-white me-3" role="status"></div>Processing...`;
      
      fetch('/convertOriginalFile', {
        method: 'POST',
        body: formData,
        headers: {
          'to': document.getElementById('convertTo').value.toLowerCase(), 
        }
      })
      .then(res => {
        console.log(res);
        if (res.status === 200) {
          document.getElementById('stepOne').classList.add('d-none');
          document.getElementById('successMsg').classList.remove('d-none');
          // document.getElementById('downloadConvertedFileBtn').href = `<%#=site_url%>/${outputFilename}`;
          document.getElementById('filename').value = outputFilename;
        }
      })
      .catch(err => console.log(err))
    });
  </script>
</body>
</html>